:root {
    --cor-de-fundo: #1e1e1e;
    --verde: #5FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3f32d3;
    --botao-inativo: rgba(58,55,94,0,5);
    --texto-fundo: rgba(58,55,94,0,3);
}

*{
    color: #FFFFFF;
}

body{
    background-color: var(--cor-de-fundo);
}
span{
    color: var(--verde);
}

.conteudo-principal{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.botoes{
    display: block;
}

.botao{
    background-color: var(--botao-inativo);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 1em;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}

.botao:first-child{
    border-radius: 20px 20px 0 0;
}

.botao:last-child{
    border-radius:0 0 20px 20px;
}
 .botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 2px solid var(--verde);
}
.aba-conteudo{
    display: none;
}
.aba-conteudo.ativo{
    display: block;
}

.abas-textos{
    background-color: #3f32d3;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}
  
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: #5FFF57;
    text-transform: uppercase;
}

@media screen and (min-width:700px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 20px 0 0 20px;
    }

    .botao:last-child{
        border-radius: 0 20px 20px 0;
    }
}
